@charset "UTF-8";
@font-face {
    font-family: 'SUITE-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
body {
	font-family: 'SUITE-Regular';
}
.container {
	margin-top:0px;
	height:60px;
}
.search {
  position: relative;
  width: 450px;
}
input {
  width: 100%;
  border: 1px solid #bbb;
  border-radius: 8px;
  padding: 10px 12px;
  font-size: 14px;
}
.search img {
  position : absolute;
  width: 25px;
  top: 20px;
  right: 12px;
  margin: 0;
}