@charset "UTF-8";
@font-face {
    font-family: 'SUITE-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

body {
	font-family: 'SUITE-Regular' !important;
}

.main_content {
	font-weight:bold;
	font-size : 28px;
}

hr {
	border-top: 1px solid #bbb !important;
}

hr::before {
    content: "";
    display: inline-block;
    width: 22px;
    position: absolute;
    height: 2px;
    background: #fc2020;
    margin-top : -2px;
}

.plus_icon {
	color:#C6C6C6;
	font-size:20px;
	padding-top:15px;
}

.hot_deal {
	background-color: #F4F9F9;
}

.hot_deal_title {
	font-size: 37px;
	font-weight:bold;
	padding-top:50px;
}

.review_button {
	font-size:14px;
	background-color:white;
    width: 135px;
    height: 40px;
    border: 1px solid #dedede;
    line-height: 40px;
    padding: 0 14px;
    position: relative;
    font-weight: bold;
    text-align:left;
}
