<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.javaweb2S.dao.AdminDAO">
	<select id="getMemberList" resultType="com.spring.javaweb2S.vo.MemberVO">
		select * from md_member <if test="searchType != null and searchString != null">where ${searchType} like concat('%', #{searchString}, '%')</if> order by idx desc;
	</select>
	
	<select id="getMemberInfo" resultType="com.spring.javaweb2S.vo.MemberVO">
		select * from md_member where idx = #{idx};
	</select>
	
	<select id="getCategoryMainList" resultType="com.spring.javaweb2S.vo.CategoryMainVO">
		select *, (select count(*) from md_categorySub as s where m.categoryMainCode = s.categoryMainCode) as cnt from md_categoryMain as m group by categoryMainCode order by cnt desc, categoryMainName;
	</select>
	
	<select id="getCategoryMainInfo" resultType="com.spring.javaweb2S.vo.CategoryMainVO">
		select * from md_categoryMain where categoryMainName = #{name};
	</select>
	
	<select id="getCategoryDupli" resultType="int">
		select count(*) from 
		<if test='db =="main"'>md_categoryMain</if>
		<if test='db =="sub"'>md_categorySub</if>
		 where ${flag} IN <foreach collection="arr" item="item" index="index" open="(" close=")" separator=",">
            #{item}
        </foreach>
	</select>
	
	<select id="getCategorySubList" resultType="com.spring.javaweb2S.vo.CategorySubVO">
		select * from md_categorySub;
	</select>
	
	<select id="getCategorySubDupli" resultType="int">
		select count(*) from md_categorySub where ${flag} = #{sub};
	</select>
	
	<select id="getCategorySubName" resultType="com.spring.javaweb2S.vo.CategorySubVO">
		select * from md_categorySub where categoryMainCode = #{mainCode};
	</select>
	
	<insert id="setCategoryMainInput" parameterType="java.util.Map">
		insert into md_categoryMain values<foreach collection="list" item="item" separator=",">
            (#{item.code},#{item.name})
        </foreach>
	</insert>
	
	<insert id="setCategorySubInput" parameterType="java.util.Map">
		insert into md_categorySub values<foreach collection="list" item="item" separator=",">
			(#{item.mCode},#{item.sCode},#{item.sName})
        </foreach>
	</insert>
	
	<delete id="setMemberDel">
		delete from md_member where 
		<if test="idx != null">
			idx = #{idx};
		</if>
		<if test="idx == null">
			memberDel = 'YES';
		</if>
	</delete>
	
	<delete id="setCategoryDelete">
		delete from 
		<if test='flag == "categoryMainCode"'>
			md_categoryMain
		</if>
		<if test='flag == "categorySubCode"'>
			md_categorySub
		</if>
		where ${flag} = #{code};
	</delete>
	
	<update id="setLevelUpdate">
		update md_member set level = #{level} where idx = #{idx};
	</update>
	
	<update id="setPointUpdate">
		update md_member set point = #{point} where idx = #{idx};
	</update>
	
	<update id="setCategoryMainUpdate">
		update md_categoryMain set categoryMainName = #{name} where categoryMainCode = #{code};
	</update>
	
	<update id="setCategorySubUpdate">
		update md_categorySub set categoryMainCode = (select categoryMainCode from md_categoryMain where categoryMainName = #{mName}),
		categorySubCode = #{sCode}, categorySubName = #{sName} where categorySubCode = #{originSCode};
	</update>
</mapper>