<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.javaweb2S.dao.MemberDAO">
	<select id="getMemberDupliCheck" resultType="com.spring.javaweb2S.vo.MemberVO">
		select * from md_member where ${flag} = #{data};
	</select>
	
	<select id="getMemberInfo" resultType="com.spring.javaweb2S.vo.MemberVO">
		select * from md_member where mid = #{mid};
	</select>
	<insert id="setMemberJoin">
		insert into md_member values(default, #{vo.mid}, #{vo.pwd}, #{vo.name}, #{vo.nickName}, #{vo.tel}, #{vo.email}, #{vo.gender}, #{vo.birthday}, #{vo.address}, default, default, default, default, #{vo.snsCheck});
	</insert>
	
	<update id="setMemberLastVisitDate">
		update md_member set lastVisitDate = now() where mid = #{vo.mid};
	</update>
	
	<delete id="setMemberAutoDelete">
		delete from md_member where memberDel = 'YES' and datediff(now(), lastVisitDate) > 30;
	</delete>
</mapper>