<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.javaweb2S.dao.ShopDAO">
	<select id="getProductShopList" resultType="com.spring.javaweb2S.vo.ProductVO">
		<if test='part =="all"'>
			select * from md_product where categoryMainCode = #{category} order by idx desc;
		</if>
		<if test='part !="all"'>
			select * from md_product where categoryMainCode = #{category} and categorySubCode = #{part};
		</if>
	</select>
	
	<select id="getCategoryMainInfo" resultType="com.spring.javaweb2S.vo.CategoryMainVO">
		select *, (select count(*) from md_categorySub as s where m.categoryMainCode = s.categoryMainCode) as cnt from md_categoryMain as m where categoryMainCode = #{category};
	</select>
	
	<select id="getCartProductOptionSearch" resultType="com.spring.javaweb2S.vo.CartVO">
		select * from md_cart where mid = #{mid} and productIdx = #{productIdx} and optionIdx = #{opIdx};
	</select>
	
	<select id="getCartList" resultType="com.spring.javaweb2S.vo.CartVO">
		select * from md_cart where mid = #{mid};
	</select>
	
	<select id="getOrderMaxIdx" resultType="com.spring.javaweb2S.vo.OrderVO">
		select max(idx) as maxIdx from md_order;
	</select>
	
	<select id="getCartProductInfoIdx" resultType="com.spring.javaweb2S.vo.CartVO">
		select * from md_cart where idx = #{cartIdx};
	</select>
	
	<select id="getProductSearch" resultType="com.spring.javaweb2S.vo.ProductVO">
		select * from md_product where  
		<if test='searchCategory == "productName"'>productName</if>
		<if test='searchCategory != "productName"'>productCode</if> like concat('%', #{keyword}, '%');
	</select>
	
	<select id="getNewProductList" resultType="com.spring.javaweb2S.vo.ProductVO">
		select * from md_product order by rgDate desc limit 4;
	</select>
	
	<update id="setCartProductOptionUpdate">
		update md_cart set optionNum = optionNum + #{opNum}, totalPrice = #{totPrice} where idx = #{idx};
	</update>
	
	<update id="setCartProductOptionNumChange">
		update md_cart set 
		<if test="flag == 1">optionNum = optionNum + 1</if>
		<if test="flag != 1">optionNum = optionNum - 1</if>, totalPrice = (productPrice + optionPrice) * optionNum where idx = #{idx};
	</update>
	
	<insert id="setCartProductOptionInput">
		insert into md_cart values(default, default, #{vo.mid}, #{vo.productIdx}, #{vo.productName}, #{vo.productPrice}, #{vo.thumbImg}, #{opIdx}, #{opName}, #{opPrc}, #{opNum}, #{vo.totalPrice});
	</insert>
	
	<insert id="setOrderInput">
		insert into md_order values(default, #{vo.orderIdx},#{vo.mid},#{vo.productIdx},default,#{vo.productName},#{vo.productPrice},#{vo.thumbImg},#{vo.optionName},#{vo.optionPrice},#{vo.optionNum},#{vo.totalPrice});
	</insert>
	
	<insert id="setBaesongInput">
		insert into md_baesong values(default, #{baesongVO.oIdx}, #{baesongVO.orderIdx}, #{baesongVO.orderTotalPrice}, #{baesongVO.mid}, #{baesongVO.name}, #{baesongVO.address}, #{baesongVO.tel}, #{baesongVO.message}, #{baesongVO.payment}, #{baesongVO.payMethod}, default);
	</insert>
	
	<delete id="setCartProductOptionDelete">
		<if test='flag == ""'>
			delete from md_cart where idx IN <foreach collection="idxArr" item="item" index="index" open="(" close=")" separator=",">
	            #{item}
	        </foreach>
        </if>
		<if test='flag == "all"'>
			delete from md_cart where mid = #{mid};
        </if>
	</delete>
	
	<delete id="setCartDeleteAfterPay">
		delete from md_cart where idx = #{cartIdx};
	</delete>
</mapper>